/*识图入口*/

#stcontent {
    position: absolute;
    /*width:640px;
    height:5px;*/
    z-index: 2;
    top: 0;
    left: 0;
    zoom: 1;
}

#stcontent form {
    position: relative;

    _width: 625px;
}

#closest,
#sthead {
    background: url("images/search_kinds_icon.png") no-repeat;

    _background: url("images/search_kinds_icon_ie6.png") no-repeat;
}

#sttb {
    _background: url("images/search_kinds_icon_ie6.png");
}

#sttb {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 114px;
    display: block;

    width: 21px;
    height: 20px;

    font-size: 14px;
    text-indent: -999em;

    outline: none;

    _background-position: -25px 0;
}

#sttb:hover {
    _background-position: 0 0;
}

#sttb .st_camera,
#sttb .st_camera_on {
    position: absolute;
    top: -2px;
    left: 0;

    width: 21px;
    height: 20px;
    border: none;

    _display: none;
}

#sttb .st_camera_on {
    display: none;
}

#sttb:hover .st_camera {
    display: none;
}

#sttb:hover .st_camera_on {
    display: block;

    _display: none;
}

#sttb .st_tips {
    position: absolute;
    z-index: 1500;
    top: 28px;
    left: -70px;
    display: none;

    width: 132px;
    height: 32px;
    padding: 0 15px;
    border: 1px solid #ebebeb;

    font-size: 12px;
    line-height: 32px;
    text-indent: 0;

    color: #666;
    border-radius: 1px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(4,0,0,0.1);
       -moz-box-shadow: 0 1px 1px 0 rgba(4,0,0,0.1);
            box-shadow: 0 1px 1px 0 rgba(4,0,0,0.1);
    cursor: default;

        -ms-box-shadow: 0 1px 1px 0 rgba(4,0,0,0.1);
         -o-box-shadow: 0 1px 1px 0 rgba(4,0,0,0.1);
}

#sttb .st_tips_arrow_in {
    position: absolute;
    z-index: 1502;
    top: 15px;
    left: 2px;
    display: none;

    width: 0;
    height: 0;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent;

    font-size: 0;

    _display: none;
    _top: 14px;
}

#sttb .st_tips_arrow_out {
    position: absolute;
    z-index: 1501;
    top: 11px;
    left: 0;
    display: none;

    width: 0;
    height: 0;
    border-width: 9px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #ebebeb transparent;

    font-size: 0;

    _display: none;
    _top: 10px;
}

#sttb:hover .st_tips,
#sttb:hover .st_tips_arrow_in,
#sttb:hover .st_tips_arrow_out {
    display: block;

    _display: none;
}

#stsug {
    position: absolute;
    z-index: 8;
    top: 36px;
    left: 0;

    width: 625px;
    height: 114px;
    padding: 15px 0 0 15px;

    background: none;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image:    -moz-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image:      -o-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image:     -ms-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));

    _background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70ffffff, endColorstr=#70ffffff);
}

#stsug .left-border {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    width: 3px;
    height: 130px;

    background: url("http://img0.bdstatic.com/t/shituimage.gif") no-repeat scroll -32px -113px transparent;
}

#stsug .right-border {
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    width: 3px;
    height: 100%;

    background: url("http://img0.bdstatic.com/t/shituimage.gif") no-repeat scroll -60px -113px transparent;
}

#sthead {
    width: 200px;
    height: 16px;
    margin-bottom: 10px;
    padding-left: 18px;

    font-family: "microsoft yahei";
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;

    color: #317ef3;
    background-position: 0 -22px;
}

#closest {
    position: absolute;
    z-index: 6;
    top: 5px;
    right: 5px;
    display: block;
    overflow: hidden;

    width: 21px;
    height: 19px;

    line-height: 10em;

    background-position: -59px 0;
}

#closest:hover {
    background-position: -81px 0;
}

.stf {
    height: 20px;
    margin-top: 13px;

    font-size: 13px;
    line-height: 14px;
}

.stf span,
.stf img,
.stf a {
    vertical-align: top;
}

.stf span {
    color: #010101;
}

.stf #sthelp {
    /**position:relative;
    *top:-1px;*/
    position: absolute;
    top: 8px;
    left: 229px;

    cursor: pointer;
}

.stf .partition {
    margin: 0 8px;

    color: #aaa9a9;
}

.stf .st_paste_url {
    position: absolute;
    top: 4px;
    left: 123px;
    display: inline-block;
    overflow: hidden;

    width: 121px;
    height: 20px;
    border-left: 1px solid #a8a8a8;

    font-family: "microsoft yahei";
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    text-indent: 17px;

    color: #666;
    border-radius: 2px;
    cursor: default;
}

.stf #uploadImg {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    display: block;
    overflow: hidden;

    width: 101px;
    height: 26px;
    border: 1px solid #317ef3;

    font-family: "microsoft yahei";
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;

    color: #317ef3;
    border-radius: 2px;
    cursor: pointer;
}

.stf .st_dragtg {
    position: absolute;
    top: 4px;
    left: 412px;
    display: inline-block;

    height: 16px;

    font-family: "microsoft yahei";
    font-size: 14px;

    color: #666;
}

.stf #stfile {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;

    border: none;

    opacity: 0;
    background: none;
    cursor: pointer;

    filter: alpha(opacity=0);
}

.stuwr {
    display: inline-block;

    width: 505px;
    height: 34px;
    border: 1px solid #d8d8d8;
    border-right: 0;

    vertical-align: top;

    background-color: white;
}

.stuurl {
    width: 501px;
    height: 22px;
    padding: 4px 0 4px 7px;
    border: 0 none;

    font: 15px/22px arial;
    vertical-align: top;

    color: black;
    outline: none;
    background: #fff;

    *padding-top: 3px;
    _padding-bottom: 3px;
}

.stsb {
    z-index: 0;
    display: inline-block;

    width: 102px;
    height: 36px;
    margin-left: 0;

    vertical-align: top;

    -webkit-box-shadow: 0 1px 2px 0 rgba(4,0,0,0.1);
       -moz-box-shadow: 0 1px 2px 0 rgba(4,0,0,0.1);
            box-shadow: 0 1px 2px 0 rgba(4,0,0,0.1);

        -ms-box-shadow: 0 1px 2px 0 rgba(4,0,0,0.1);
         -o-box-shadow: 0 1px 2px 0 rgba(4,0,0,0.1);
    /* border:1px solid #d8d8d8;*/
}

.stsb2 {
    width: 102px;
    height: 36px;
    padding: 0;
    padding-top: 2px\9;
    /*    background-position:0px -46px;*/
    border: 0 none;

    font-family: "Microsoft Yahei", "微软雅黑", "宋体";
    font-size: 16px;

    color: #fff;
    background: #38f;
    cursor: pointer;
}

.stsb3 {
    /*background-position: 0px -39px;*/
    background: #2671e4;
}

.stsb4 {
    background: #317ef3;
}

.st_search_gray {
    background: url(images/bd_home_search_gray_btn.png) no-repeat;
}

.st_search_gray {
    width: 102px;
    height: 36px;
    padding: 0;
    padding-top: 2px\9;
    border: 0 none;

    font-family: "Microsoft Yahei", "微软雅黑", "宋体";
    font-size: 16px;

    color: #000;
    background-position: 0 0;
    cursor: pointer;
}

.st_search_gray_on {
    background-position: 0 -40px;
}

.st_search_gray_down {
    background-position: 0 -80px;
}

.dragtg {
    margin-top: 5px;

    font-size: 13px;

    color: #727272;
}

#stmore {
    position: absolute;
    top: 50px;
    left: 264px;
    display: block;

    width: 325px;
    height: 48px;
    padding: 10px 15px;
    border: 1px solid #ebebeb;

    font-size: 12px;

    color: #666;
    background: #fff;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(4,0,0,0.1);
       -moz-box-shadow: 1px 1px 1px 1px rgba(4,0,0,0.1);
            box-shadow: 1px 1px 1px 1px rgba(4,0,0,0.1);

        -ms-box-shadow: 1px 1px 1px 1px rgba(4,0,0,0.1);
         -o-box-shadow: 1px 1px 1px 1px rgba(4,0,0,0.1);
}

.stmore_arrow_in {
    position: absolute;
    z-index: 10;
    bottom: 13px;
    left: -8px;

    width: 0;
    height: 0;
    border-width: 4px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #fff transparent transparent;

    _display: none;
}

.stmore_arrow_out {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    left: -12px;

    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #ebebeb transparent transparent;

    _display: none;
}

#stmore ul {
    height: 36px;
    margin-top: 4px;

    font-family: "宋体";
    line-height: 18px;

    list-style-type: decimal;
    color: #666;
}

#stmore ul li {
    height: 18px;
}

#stmore div {
    text-align: left;
}

#stmore div a {
    text-decoration: none;
}

#stmore div a:hover {
    text-decoration: underline;
}

#point,
#dragtip {
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;

    width: 640px;
    height: 129px;

    text-align: center;

    color: #a0a0a0;
    background-color: #f5f5f5;
}

#point {
    z-index: 5;

    height: 79px;
    padding-top: 49px;

    text-align: center;
    vertical-align: middle;
}

#point img {
    margin-right: 8px;
}

#point span,
#point img {
    font: normal 16px "微软雅黑",Arial;
    line-height: 24px;
    vertical-align: middle;
}

#dragtip {
    text-align: left;

    color: black;
    background: none;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image:    -moz-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image:      -o-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image:     -ms-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70ffffff, endColorstr=#70ffffff);
}

#dragtip div {
    display: none;

    margin: 10px 0 0 10px;

    font-size: 14px;
    font-weight: bold;

    _display: block;
}

#dragtip span {
    display: block;

    width: 119px;
    margin: 52px auto 0 auto;

    font-family: "microsoft yahei";
    font-size: 14px;

    _margin-top: 28px;
}

#dragtip .drag_dot_area {
    position: absolute;
    display: block;

    width: 15px;
    height: 15px;

    background: url(images/drag_dot_area.gif) no-repeat;
}

#dragtip .drag_dot_left_top {
    top: 10px;
    left: 200px;

    background-position: 0 0;
}

#dragtip .drag_dot_left_bottom {
    bottom: 30px;
    left: 200px;

    background-position: 0 -36px;
}

#dragtip .drag_dot_right_top {
    top: 10px;
    left: 400px;

    background-position: -36px 0;
}

#dragtip .drag_dot_right_bottom {
    bottom: 30px;
    left: 400px;

    background-position: -36px -36px;
}

#flashcontent {
    position: absolute;
    z-index: 110;
    top: 0;
    left: 0;

    width: 103px;
    height: 28px;
}
